<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
</head>
<body>

<p>Bienvenido al quiz de MARTA</p>

<p>
    <a href=/quizzes> Ir al quiz</a>
    <a href=/> Volver</a>
 </p>

</body>
</html>