<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Quiz de <%= title %></p>
    <p>
        <a href="/">Home</a>
        <a href="/credits">Credits</a>
        <a href="/quizzes">Quizzes</a>
    </p>
  </body>
</html>
