
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizzes</title>
</head>
<body>

<h2>Ahora les mostramos la lista de quizzes</h2>
<p></p>
<p>
        <% for (var i in quizzes){%>
            <li>
                <%=quizzes[i].question%>: <%=quizzes[i].answer%>
            </li>
            <%}%>
</p>

<p>
        <a href=/credits> Ir a credits</a>
        <a href=/> Volver a home</a>

</p>

</body>
</html>